.contact {
    background-color: #111;
    color: white;
    padding: 100px 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    gap: 15px;
}

input, textarea {
    padding: 10px;
    border-radius: 5px;
    border: none;
}

button {
    background-color: #6366f1;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #4f46e5;
}
